testdata/css/schema.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<!-- definition of the types -->

<xs:complexType name="person">
  <xs:sequence>
    <xs:element name="NAMEPREFIX" type="xs:string" minOccurs="0" maxOccurs="1"/>
    <xs:element name="FIRSTNAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
    <xs:element name="MIDDLENAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
    <xs:element name="LASTNAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
    <xs:element name="NAMESUFFIX" type="xs:string" minOccurs="0" maxOccurs="1"/>
    <xs:element name="GIVENNAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="fullDate">
  <xs:sequence>
    <xs:element name="YEAR" type="xs:integer"/>
    <xs:element name="MONTH">
      <xs:simpleType>
        <xs:restriction base="xs:positiveInteger">
          <xs:maxInclusive value="12"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
    <xs:element name="DAY">
      <xs:simpleType>
        <xs:restriction base="xs:positiveInteger">
          <xs:maxInclusive value="31"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="partialDate">
  <xs:sequence>
    <xs:element name="YEAR" type="xs:integer"/>
    <xs:element name="MONTH" minOccurs="0" maxOccurs="1">
      <xs:simpleType>
        <xs:restriction base="xs:positiveInteger">
          <xs:maxInclusive value="12"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
    <xs:element name="DAY" minOccurs="0" maxOccurs="1">
      <xs:simpleType>
        <xs:restriction base="xs:positiveInteger">
          <xs:maxInclusive value="31"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="duration">
  <xs:sequence>
    <xs:element name="HOUR" minOccurs="0" maxOccurs="1">
      <xs:simpleType>
        <xs:restriction base="xs:positiveInteger">
          <xs:minInclusive value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
    <xs:element name="MINUTE" minOccurs="0" maxOccurs="1">
      <xs:simpleType>
        <xs:restriction base="xs:nonNegativeInteger">
          <xs:maxInclusive value="59"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
    <xs:element name="SECOND" minOccurs="1" maxOccurs="1">
      <xs:simpleType>
        <xs:restriction base="xs:nonNegativeInteger">
          <xs:maxInclusive value="59"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="content" mixed="true">
  <xs:choice minOccurs="0" maxOccurs="unbounded">
    <xs:element ref="BLIST"/>
    <xs:element ref="SLIST"/>
    <xs:element ref="NLIST"/>
    <xs:element ref="CLIST"/>
    <xs:element ref="LLIST"/>
    <xs:element ref="DEFINITIONTABLE"/>
    <xs:element ref="DEFINITION2TABLE"/>
    <xs:element ref="TABLE"/>
    <xs:element ref="MATH"/>
    <xs:element ref="TEXTBLOCK"/>
    <xs:element ref="CODEMENU"/>
    <xs:element ref="CODESAMPLE"/>
    <xs:element ref="CODEROUTINE"/>
    <xs:element ref="CODEFILENAME"/>
    <xs:element name="DATE" type="partialDate"/>
    <xs:element name="DURATION" type="duration"/>
    <xs:element ref="LINE"/>
    <xs:element ref="ANCHOR"/>
    <xs:element ref="U"/>
    <xs:element ref="B"/>
    <xs:element ref="I"/>
    <xs:element ref="STRIKE"/>
    <xs:element ref="SMALL"/>
    <xs:element ref="SUB"/>
    <xs:element ref="SUP"/>
    <xs:element ref="X"/>
    <xs:element ref="ARTICLE"/>
    <xs:element ref="BR"/>
    <xs:element ref="KEY"/>
    <xs:element ref="MODIFIERKEY"/>
    <xs:element ref="IMAGE"/>
    <xs:element name="AUTHOR" type="person"/>
  </xs:choice>
</xs:complexType>

<!-- definition of the tags -->

<xs:element name="PAGE">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="TITLE" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="PATH" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="DATE" type="fullDate" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="CONTENT" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="X" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="SCRIPT" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="special">
     <xs:simpleType>
       <xs:restriction base="xs:string">
         <xs:pattern value="indexed"/>
       </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="status">
     <xs:simpleType>
       <xs:restriction base="xs:string">
         <xs:pattern value="unmaintained"/>
       </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
</xs:element>

<xs:element name="CONTENT" type="content"/>

<xs:element name="BLIST">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="TITLE" type="content" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ITEM" type="content" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="SLIST">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="TITLE" type="content" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ITEM" type="content" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="NLIST">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="TITLE" type="content" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ITEM" type="content" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="CLIST">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="TITLE" type="content" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ITEM" type="content" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="LLIST">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="TITLE" type="content" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ITEM" type="content" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="U" type="content"/>

<xs:element name="B" type="content"/>

<xs:element name="I" type="content"/>

<xs:element name="SMALL" type="content"/>

<xs:element name="STRIKE" type="content"/>

<xs:element name="SUB" type="xs:string"/>

<xs:element name="SUP" type="xs:string"/>

<xs:element name="X">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="T" minOccurs="1" maxOccurs="1">
        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="CODEROUTINE"/>
            <xs:element ref="CODEFILENAME"/>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="ST" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="A" type="xs:anyURI" minOccurs="1" maxOccurs="1"/>
      <xs:element name="L" type="xs:language"  minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="F" minOccurs="1" maxOccurs="unbounded">
        <xs:simpleType>
         <xs:restriction base="xs:string">
           <xs:pattern value="HTML|PDF|Flash Video|Word|txt|PostScript|PowerPoint|MP4|HTML|MP3|RealMedia|Windows Media Player|Flash"/>
         </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FEED" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="A" type="xs:anyURI"/>
            <xs:element name="F">
              <xs:simpleType>
               <xs:restriction base="xs:string">
                 <xs:pattern value="RSS|RSS2|Atom"/>
               </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DURATION" type="duration" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="status">
     <xs:simpleType>
       <xs:restriction base="xs:string">
         <xs:pattern value="obsolete|dead|zombie"/>
       </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="protection">
     <xs:simpleType>
       <xs:restriction base="xs:string">
         <xs:pattern value="firewall|payed_registration|free_registration"/>
       </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="quality">
     <xs:simpleType>
       <xs:restriction base="xs:integer">
          <xs:minInclusive value="-2"/>
          <xs:maxInclusive value="2"/>
       </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
</xs:element>

<xs:element name="ARTICLE">
  <xs:complexType>
    <xs:sequence>
        <xs:element ref="X" minOccurs="1" maxOccurs="unbounded"/>
        <xs:element name="AUTHOR" minOccurs="0" maxOccurs="unbounded" type="person"/>
        <xs:element name="DATE" type="partialDate" minOccurs="0" maxOccurs="1"/>
        <xs:element name="COMMENT" type="content" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="LINE"/>

<xs:element name="ANCHOR" type="xs:string"/>

<xs:element name="DEFINITIONTABLE">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="ROW" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TERM" type="content"/>
            <xs:element name="DESC" type="content"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="DEFINITION2TABLE">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="ROW" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TERM1" type="content"/>
            <xs:element name="TERM2" type="content"/>
            <xs:element name="DESC" type="content"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="TABLE">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="ROW" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CELL" minOccurs="1" maxOccurs="unbounded">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="content">
                     <xs:attribute name="width" type="xs:nonNegativeInteger"/>
                    <xs:attribute name="height" type="xs:nonNegativeInteger"/>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="TEXTBLOCK" type="content"/>

<xs:element name="MATH" type="xs:string"/>

<xs:element name="CODEMENU">
  <xs:complexType mixed="true">
    <xs:sequence>
      <xs:element ref="CODEMENU" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="CODESAMPLE">
  <xs:complexType mixed="true">
    <xs:sequence maxOccurs="unbounded">
      <xs:element ref="PROMPT" minOccurs="0"/>
      <xs:element ref="TAB" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="TABCHAR" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="BR" minOccurs="0" maxOccurs="1"/>
      <xs:element name="I" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
      <xs:element name="B" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
      <xs:element name="U" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
      <xs:element ref="X" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="CODEFILENAME" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="CODEROUTINE">
  <xs:complexType mixed="true">
    <xs:sequence maxOccurs="unbounded">
      <xs:element name="I" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
      <xs:element ref="X" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="CODEFILENAME" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="CODEFILENAME">
  <xs:complexType mixed="true">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element ref="X" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="DATE" type="fullDate"/>

<xs:element name="PROMPT"/>

<xs:element name="TAB"/>

<xs:element name="TABCHAR"/>

<xs:element name="BR"/>

<xs:element name="KEY">
  <xs:complexType>
    <xs:attribute name="ID" type="xs:string"/>
  </xs:complexType>
</xs:element>

<xs:element name="MODIFIERKEY">
  <xs:complexType>
    <xs:attribute name="ID" type="xs:string"/>
  </xs:complexType>
</xs:element>

<xs:element name="SCRIPT" type="xs:string"/>

<xs:element name="IMAGE" type="xs:anyURI"/>

</xs:schema>